setuptools
wheel
pip
whitenoise>=6.0.0
asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cmake==3.31.0.1
cryptography==45.0.7
distlib==0.3.9
Django==4.2.16
django-appconf==1.1.0
django-cryptography==1.1
django-encrypted-model-fields==0.6.5
djangorestframework==3.15.2
dlib-bin==19.24.6
dotenv==0.9.9
face-recognition-models==0.3.0
filelock==3.18.0
idna==3.10
imutils==0.5.4
joblib==1.5.0
numpy==1.24.4
#opencv-contrib-python==4.5.5.64
pandas==2.2.3
pillow==11.0.0
platformdirs==4.3.7
pycparser==2.22
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
sqlparse==0.5.2
threadpoolctl==3.6.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
virtualenv==20.30.0
opencv-python-headless
