{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Dados do Funcionário
                </div>
                <div class="card-body">
                    <img class="img-thumbnail" src="{{ funcionario.foto.url }}" alt="{{ funcionario.nome }}">
                    <p><strong>Nome:</strong> {{ funcionario.nome }}</p>
                    <p><strong>Documento:</strong> {{ funcionario.cpf }}</p>
                    <!-- <p>Data e Hora Atual: {{ data_hora }}</p> -->
                </div>
            </div>

            <div class="alert alert-warning text-center">
                <i class="bi bi-exclamation-triangle-fill"></i>
                <p>Centralize seu rosto antes de extrair as amostras.</p>
            </div>

            <img class="border rounded-5 mb-3" id="webcam" src="{% url 'face_detection' %}" width="450" />

            <form class="mt-3" method="POST" action="{% url 'criar_coleta_faces' funcionario.id %}">
                {% csrf_token %}
                <button class="btn btn-lg btn-warning" type="submit" onclick="document.getElementById('cliked').value='True';">
                    Extrair amostras
                </button>
                <input type="hidden" id="cliked" name="cliked" value="False">
            </form>
            
        </div>
    </div>
</div>
{% endblock %}